{% extends "base.html" %}
{% load staticfiles %}

{% block content %} 

 <link href="{% static 'css/home.css' %}" rel="stylesheet">
  
  
  
        <!--========== PAGE CONTENT ==========-->
        <!-- Features -->
        <div id="js__scroll-to-section" class="container g-padding-y-100--xs g-padding-y-125--sm">
  <div class="row g-margin-b-60--xs g-margin-b-70--md">
                <div class="col-sm-4 g-margin-b-60--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".1s">
                                <i class="g-font-size-28--xs g-color--primary ti-desktop"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
<a href="#" class="btn btn-block btn-lg btn-default"></span><img src="../static/images/support/marketersassociation-slack.jpg">
</a>                            <p class="g-margin-b-0--xs">openadcash</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 g-margin-b-60--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                                <i class="g-font-size-28--xs g-color--primary ti-settings"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                        <a href="#" class="btn btn-block btn-lg btn-default"><img src="../static/images/support/marketersassociation-facebookmessenger.jpg">
</a>                            <p class="g-margin-b-0--xs">openadcash</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".3s">
                                <i class="g-font-size-28--xs g-color--primary ti-ruler-alt-2"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                        <a href="#" class="btn btn-block btn-lg btn-default"><img src="../static/images/support/marketersassociation-skype.jpg">
</a>                            <p class="g-margin-b-0--xs">openadcash</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // end row  -->

                </div>
            </div>
            <!-- // end row  -->
        </div>
        <!-- End Features -->





</html>
{% endblock %}

